#logo {
    position: relative;
    width: 300px;
    top: 150px;
    left: 475px;
}

#motto {
    position: relative;
    top: 180px;
    left: 470px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(105, 100, 100);
    width: 350px;
}
